---
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<!-- <RecentPosts postList={lastThreePosts} /> -->
<Base head={{ title, description }}>
  <div class='flex flex-col items-center justify-center p-20'>
    <p class='py-6'>
      <p class="font-semibold">I'm a Full-stack Web Developer with experience in:</p>
      <ul class="marker:text-white inline-flex list-disc space-x-6">
        <li>React,</li>
        <li>Ruby on Rails,</li>
        <li>Python,</li>
        <li>GraphQL,</li>
        <li>Express,</li>
        <li>MySQL,</li>
        <li>PostgreSQL</li>
      </ul>
      <br />
      <ul class="marker:text-white inline-flex list-disc space-x-6">
        <li>NoSQL (MongoDB),</li>
        <li>Typescript,</li>
        <li>MobX,</li>
        <li>Redux,</li>
        <li>Zustand,</li>
        <li>CSS/SCSS,</li>
        <li>HTML</li>
      </ul>
    </p>
    <p class="py-6">
      <p class="font-semibold">I've also worked with:</p>
      <ul class="marker:text-white inline-flex list-disc space-x-6">
        <li>Django,</li>
        <li>Flask,</li>
        <li>jQuery,</li>
        <li>Firebase,</li>
        <li>AWS,</li>
        <li>D3.js,</li>
        <li>Flow.js,</li>
        <li>AngularJS 1.0,</li>
        <li>C/C++,</li>
        <li>Java</li>
      </ul>
    </p>
    <div class='z-20 flex items-center pt-10'>
      <img class='h-10 w-10' src='/assets/images/icons8-github-512.png' />
      <div class='pl-1 font-semibold hover:text-fuchsia-500'>
        <a href='https://github.com/mcfry'>Mcfry</a>
      </div>
    </div>
  </div>
</Base>
