---
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

import TechStack from '@/partials/TechStack';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <section class='flex flex-col items-center justify-center p-20'>
    <div class='flex flex-col justify-center items-center py-6'>
      <p class="font-semibold text-center">Education, Pennsylvania State University:</p>
      <ul class="marker:text-white list-disc space-x-6 text-center pt-2">
        <li>B.S. in Computer Science & Minor in Mathematics</li>
      </ul>
    </div>

    <div class='flex flex-col justify-center items-center py-6'>
      <p class="font-semibold text-center">I'm a Full-stack Web Developer with experience in:</p>
      <TechStack
        techStack={[
          'React',
          'Ruby on Rails',
          'Python',
          'GraphQL',
          'Express',
          'MySQL',
          'PostgreSQL',
          'NoSQL',
          'Typescript',
          'MobX',
          'Redux',
          'Zustand',
          'CSS/SCSS',
          'HTML',
        ]}
        size={5}
        breakpoint='only-m'
      />
    </div>

    <div class="flex flex-col justify-center items-center py-6">
      <p class="font-semibold text-center">I've also worked with:</p>
      <TechStack
        techStack={[
          'Django',
          'Flask',
          'jQuery',
          'Firebase',
          'AWS',
          'Electron',
          'D3.js',
          'Flow.js',
          'AngularJS',
          'C/C++',
          'Java',
          'And more!',
        ]}
        size={5}
        breakpoint="only-m"
      />
    </div>

    <div class='z-20 flex items-center pt-10'>
      <img class='h-10 w-10' src='/assets/images/icons8-github-512.png' />
      <div class='pl-1 font-semibold hover:text-fuchsia-500'>
        <a href='https://github.com/mcfry'>Mcfry</a>
      </div>
    </div>
  </section>
</Base>
